.nav-align {
    float: inline-end;
}
a {
    text-decoration: none;
    color: rgb(7, 80, 7);
}
body nav {
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container-self {
    height: 700px;
    background-image: linear-gradient(to right, rgb(8, 39, 25) , rgb(1, 34, 11) , rgb(3, 27, 3));
    margin-top:100px;
}
p.box1 {
    border-radius: 15px;
    height: 70%;
    width: 25%;
    border-color: aliceblue;
    border-style: groove;
    float: left;
    margin-left: 20px;
    background-color: rgba(14, 32, 14, 0.596);
    color: white;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-align: center;
  
}
.img-vector {
   flex-wrap: wrap;
   float: left;
   padding-top: 100px;
   padding-left:100px
}

.box4 {
    position: relative;
    bottom: 200px;
}

.box3 {
    position: relative;
    bottom: 200px;
}